@font-face {
  font-family: 'Message';
  src: url('/public/fonts/Jellyka-leGrandSautTextual.woff');
}
@font-face {
  font-family: 'Title';
  src: url('/public/fonts/Bitcheese.woff');
}
@font-face {
  font-family: 'Kalam-Light';
  src: url('/public/fonts/Kalam-Light.woff');
}
@font-face {
  font-family: 'Kalam-Regular';
  src: url('/public/fonts/Kalam-Regular.woff');
}
@font-face {
  font-family: 'Kalam-Bold';
  src: url('/public/fonts/Kalam-Bold.woff');
}

html {
  max-width: 100vw;
}
