@font-face {
  font-family: 'Message';
  src: url('/public/fonts/le_Grand_Saut_TEXTUAL.ttf');
}
@font-face {
  font-family: 'Title';
  src: url('/public/fonts/Bitcheese.ttf');
}
@font-face {
  font-family: 'Kalam-Light';
  /* src: url('/public/fonts/IndieFlower-Regular.ttf'); */
  src: url('/public/fonts/Kalam-Light.ttf');
}
@font-face {
  font-family: 'Kalam-Regular';
  /* src: url('/public/fonts/IndieFlower-Regular.ttf'); */
  src: url('/public/fonts/Kalam-Regular.ttf');
}
@font-face {
  font-family: 'Kalam-Bold';
  /* src: url('/public/fonts/IndieFlower-Regular.ttf'); */
  src: url('/public/fonts/Kalam-Bold.ttf');
}
